.form-register{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    width: 400px;
    background-color: #24303c;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 4px;
    color: white;
}
.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
}
.form-register label{
    height: 40px;
    text-align: center;
    font-size: 18px;
}
.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;
}
.form-register{
    .botons{
        width: 100%;
        background: #1f53c5;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0 ;
        font-size: 16px;
        cursor: pointer;
    }
}