.display {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 600px;
}

.box {
    background-color: rgba(217, 217, 217, 0.4);
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.box:hover {
    transform: scale(1.05);
}

.box img {
    max-width: 50px;
    margin-top: 20px;
}

.box p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.box1 {
    background-color: rgba(217, 217, 217, 0.4);
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.box1:hover {
    transform: scale(1.05);
}

.box1 img {
    max-width: 50px;
    margin-top: 20px;
}

.box1 p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.box2 {
    background-color: rgba(217, 217, 217, 0.4);
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.box2:hover {
    transform: scale(1.05);
}

.box2 img {
    max-width: 50px;
    margin-top: 20px;
}

.box2 p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}