.imagen20{
    max-width: 100%;
    max-height: 100%;
    height: 400px;
    width: 100%;
    background-position: center;
    background-image:
    linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
     url(/Page404.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}
.boton404{
    background-color: #194edc;
    color: #fff;
    display: flex;
    text-decoration: none;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.boton404:hover {
    background-color: #1b40b2;
}
.div_boton404{
    display: flex;
    justify-content: center;
}