.eliminar{
    background-color: #bb1010;
}
.actualizar{
    background-color: #174ecf;
    color: white;
}
.prestamos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.generarPDF{
    background-color: #058787;
}