.imagen5 {
    max-width: 100%;
    max-height: 100%;
    height: 400px;
    width: 100%;
    background-position: center;
    background-image: url(/Carpintería-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.imagen6 {
    max-width: 100%;
    max-height: 100%;
    height: 400px;
    width: 100%;
    background-position: center;
    background-image: url(/Ofimática-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.imagen7 {
    max-width: 100%;
    max-height: 100%;
    height: 400px;
    width: 100%;
    background-position: center;
    background-image: url(/Cocina-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.imagen8 {
    max-width: 100%;
    max-height: 100%;
    height: 400px;
    width: 100%;
    background-position: center;
    background-image: url(/Electrónica-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.imagen9 {
    max-width: 100%;
    max-height: 100%;
    height: 400px;
    width: 100%;
    background-position: center;
    background-image: url(/Mecánica-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.imagen10 {
    max-width: 100%;
    max-height: 100%;
    height: 400px;
    width: 100%;
    background-position: center;
    background-image: url(/Automotriz-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.imagen11 {
    max-width: 100%;
    max-height: 100%;
    height: 400px;
    width: 100%;
    background-position: center;
    background-image: url(/Dibujo-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.imagen12 {
    max-width: 100%;
    max-height: 100%;
    height: 400px;
    width: 100%;
    background-position: center;
    background-image: url(/Soldadura-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.imagen13 {
    max-width: 100%;
    max-height: 100%;
    height: 400px;
    width: 100%;
    background-position: center;
    background-image: url(/Electricidad-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.display1 {
    padding: 6%;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1200px;
    padding-bottom: 3%;
    position: relative;
    overflow: hidden;
}

.info-image {
    width: 40%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    transform: translateX(80%);
    transition: transform 1s ease-in-out;
}

.info-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.info-image.hovered {
    transform: translateX(0);
}

.h2-taller {
    margin-bottom: 20px;
}

.p-taller {
    line-height: 1.5em;
}

.info-text {
    flex: 1;
    padding: 100px;
    text-align: center;
    transform: translateX(-20%);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 0.7s ease-in-out;
}

.info-text.hovered {
    transform: translateX(0);
    opacity: 1;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.carousel-section {
    position: relative;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.slide {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    padding-bottom: 50%;
}

.item-slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-position: center;
}

.pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover {
    transform: scale(2);
}

.pagination-item img {
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img {
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked~.slide {
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked~.pagination .pagination-item[for="1"] {
    background: #fff;
}

input[id="2"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked~.pagination .pagination-item[for="2"] {
    background: #fff;
}

input[id="3"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked~.pagination .pagination-item[for="3"] {
    background: #fff;
}

@keyframes autoplay {
    33% {
        transform: translate3d(calc(-100% * 0), 0, 0);
    }

    66% {
        transform: translate3d(calc(-100% * 1), 0, 0);
    }

    100% {
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}

@media (max-width: 768px) {
    .imagen5, .imagen6,.imagen7, .imagen8,
    .imagen9, .imagen10, .imagen11, .imagen12,
    .imagen13 {
        height: 200px;
    }

    .info-section {
        flex-direction: column;
        text-align: center;
    }

    .info-text {
        padding: 10px;
        transform: translateY(-20%);
        
    }

    .info-image {
        width: 100%;
        margin-bottom: 20px;
        transform: translateX(-100%);
    }

    .carousel-container {
        width: 100%;
    }
}