.imagen4{
    max-width: 100%;
    max-height: 100%;
    height: 400px;
    width: 100%;
    background-position: center;
    background-image:
    linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
     url(/Clausura2.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    .imagen4 {
        height: 200px;
    }
}
.clausura{
    text-align: center;
    background-color: #D9D9D9;
}

.contenido_clausura{
    margin-top: 30px;
    margin-bottom: 30px;
}
.texto_clausura{
    margin-bottom: 15px;
}
.informacion_clausura{
    margin-bottom: 15px;
}