@use '/src/sass/base/variables' as v;

.header {
  text-align: center;
  background: rgba(64, 64, 64, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.3s ease;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 4px;
    margin-left: 50px;
  }

  .enlace {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding: 0 10px;
    white-space: nowrap;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .enlace.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
  }

  .login {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0 10px;
    white-space: nowrap;
    margin-right: 50px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .login.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
  }

  .slidebar-toggle {
    cursor: pointer;
    display: none;
    margin-right: 50px;
    margin-top: 5px;

    @media (max-width: 768px) {
      display: block;
    }
  }
}

.slidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background: rgba(64, 64, 64, 0.9);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10px;

  .enlace {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 15px 0;
    margin-top: 5px;
  }

  .slidebar-toggle {
    cursor: pointer;
    margin-top: 10px;
  }
}

.imagen {
  max-width: 100%;
  max-height: 100%;
  height: 400px;
  width: 100%;
  background-position: center;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/ImagenPrincipal.jpeg);
  background-repeat: no-repeat;
}

.texto-principal {
  color: white;
  margin: 0;
  padding-bottom: 25px;
  padding-left: 20px;
  font-size: 2.2rem;

  @media (min-width: 768px) {
    font-size: 2.8rem;
    padding-bottom: 42px;
    padding-left: 50px;
  }
}

.clase1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2rem;
  max-width: 100%;
  width: 100%;
}

.clase2 {
  position: fixed;
  z-index: 10;
}
