@forward 'header';
@forward 'talleres';
@forward 'carpinteria';
@forward 'login';
@forward 'paginaprincipal';
@forward 'footer';
@forward 'preinscripciones';
@forward 'clausura';
@forward 'administrativos';