.new-password-view {
    background-color: #f2f2f2;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    .new-password-title {
        font-size: 3rem;
        font-weight: 900;
        color: #040406;
        text-align: center;
        margin: 0.5rem 0;
    }

    .new-password-subtitle {
        font-size: 1.5rem;
        font-weight: 300;
        color: #040406;
        margin-top: 1.25rem;
        text-align: center;
        padding: 0 1rem;
    }

    .new-password-form {
        width: 100%;
        max-width: 28rem;
        background-color: white;
        padding: 2rem;
        margin-top: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);

        .new-password-label {
            font-size: 1.5rem;
            font-weight: 400;
            text-align: center;
        }

        .form-container {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
            margin: 0;
        }

        .new-password-input {
            width: 100%;
            padding: 1rem;
            font-size: 1.25rem;
            border: 1px solid #d1d5db;
            border-radius: 0.5rem;
            transition: border-color 0.3s;

            &:focus {
                border-color: #000000;
            }
        }

        .new-password-submit-button {
            width: 100%;
            padding: 0.75rem 0;
            background-color: #213981;
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 0.5rem;
            transition: background-color 0.3s;
            cursor: pointer;
            margin-top: 1rem; /* Espacio entre último input y botón */

            &:hover {
                background-color: #1a2c70;
            }
        }
    }

    .navigation {
        margin-top: 2rem;

        .new-code-link {
            text-align: center;
            color: #040406;
            font-weight: 400;
            transition: color 0.3s;

            &:hover {
                color: #213981;
            }
        }
    }

    @media (max-width: 1024px) {
        .new-password-title {
            font-size: 2.5rem;
        }

        .new-password-subtitle {
            font-size: 1.25rem;
        }

        .new-password-form {
            padding: 1.5rem;

            .new-password-label {
                font-size: 1.25rem;
            }

            .new-password-input {
                padding: 1rem;
                font-size: 1.25rem;
            }

            .new-password-submit-button {
                padding: 0.75rem 0;
            }
        }

        .navigation {
            margin-top: 1.5rem;
            gap: 1rem;

            .new-code-link {
                font-size: 1rem;
            }
        }
    }

    @media (max-width: 768px) {
        .new-password-title {
            font-size: 2rem;
            margin: 1rem 0;
        }

        .new-password-subtitle {
            font-size: 1rem;
            margin-top: 1.5rem;
            padding: 0 1rem;
        }

        .new-password-form {
            padding: 1.5rem;
            gap: 1rem;

            .new-password-label {
                font-size: 1.25rem;
            }

            .new-password-input {
                padding: 1rem;
                font-size: 1rem;
            }

            .new-password-submit-button {
                padding: 0.75rem 0;
            }
        }

        .navigation {
            margin-top: 1.5rem;
            gap: 1rem;

            .new-code-link {
                font-size: 1rem;
            }
        }
    }

    @media (max-width: 480px) {
        .new-password-title {
            font-size: 1.75rem;
            margin: 1rem 0;
        }

        .new-password-subtitle {
            font-size: 1rem;
            margin-top: 1.25rem;
            padding: 0 1.5rem;
        }

        .new-password-form {
            padding: 1rem;
            gap: 0.75rem;

            .new-password-label {
                font-size: 1rem;
            }

            .new-password-input {
                padding: 0.75rem;
                font-size: 1rem;
            }

            .new-password-submit-button {
                padding: 0.75rem 0;
            }
        }

        .navigation {
            margin-top: 1.5rem;
            gap: 0.75rem;

            .new-code-link {
                font-size: 0.875rem;
            }
        }
    }
}
