.imagen1{
    max-width: 100%;
    max-height: 100%;
    height: 500px;
    
    background-position: center;
    background-image:
    linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
     url(/ImagenSecundaria.jpeg);
    background-repeat: no-repeat;
    width: 100%;
}

.display {
    height: auto;
}

.container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 900px;
    margin: 20px;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .overlay {
    opacity: 1;
}

h3 {
    margin: 0 0 10px 0;
    font-size: 20px;
}

button {
    padding: 5px 20px;
    font-size: 16px;
    color: #fff;
    background: #ffffff00;
    border: 2px solid #fff;
    border-radius: 35px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container1 {
        grid-template-columns: repeat(2, 1fr);
    }

    h3 {
        font-size: 18px;
    }

    button {
        font-size: 14px;
        padding: 5px 15px;
    }

    .card {
        height: 200px;
    }
}

@media (max-width: 480px) {
    .container1 {
        grid-template-columns: 1fr;
    }

    .imagen1 {
        height: 300px;
    }

    h3 {
        font-size: 16px;
    }

    button {
        font-size: 12px;
        padding: 5px 10px;
    }

    .card {
        height: 200px;
    }
    
    h3 {
        margin: 0 0 10px 0;
        font-size: 20px;
    }
    
    button {
        padding: 5px 20px;
        font-size: 16px;
    }
}